
        body {
            margin: 0;
            padding: 0;
            font-family: serif, sans-serif;
        }

        .header {
            background-color: #000;
            display: flex;
            padding: 15px 20px;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
        }

        .logo {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 27px;
            color: #fff;
            font-weight: 800;
        }

        .logo img {
            width: 114px;
            height: 114px;
        }

        .nav {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
        }

        .nav-item {
            color: #fff;
            font-size: 27px;
            font-weight: 900;
        }

        .hero {
            background-color: rgba(13, 13, 13, 0.58);
            color: #fff;
            text-align: center;
            padding: 80px 20px;
            position: relative;
        }

        .hero-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }

        .hero-title {
            font-family: Jokerman, sans-serif;
            font-size: 150px;
            margin-bottom: 50px;
        }

        .hero-subtitle {
            font-size: 27px;
            margin-bottom: 33px;
        }

        .cta-buttons {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
        }

        .cta-button {
            background-color: #b72325;
            color: #fff;
            font-size: 19px;
            font-weight: 900;
            padding: 16px 60px;
            border-radius: 16px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        .cta-button:hover {
            background-color: #d62728;
            transform: translateY(-3px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        .cta-button:active {
            transform: translateY(1px);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }

         .container {
            background-color: #000;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            padding: 20px;
        }

        .container img {
            max-width: 100%;
            height: auto;
        }

        .content {
            max-width: 600px;
            margin: 20px;
        }

        @media (min-width: 768px) {
            .container {
                flex-direction: row;
                justify-content: space-between;
                text-align: left;
            }

            .content {
                margin: 20px 40px;
            }
        }
        


        .gallery {
            background-color: #b72325;
            padding: 80px 20px;
            text-align: center;
        }

        .gallery-images {
            display: flex;
            justify-content: center;
            gap: 20px;
            flex-wrap: wrap;
            margin-bottom: 87px;
        }

        .gallery-images img {
            width: 300px;
            height: 300px;
            object-fit: cover;
        }

        .gallery-text {
            color: #fff;
            font-size: 27px;
            font-weight: 900;
        }

        .footer {
            background-color: #e73a3a;
            color: #fff;
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: 9px 72px;
            font-size: 27px;
            font-weight: 800;
            flex-wrap: wrap;
        }

        .footer img {
            width: 50px;
        }

        .hamburger {
            display: none;
            flex-direction: column;
            cursor: pointer;
            gap: 4px;
        }

        .hamburger div {
            width: 30px;
            height: 3px;
            background-color: #fff;
        }

        @media (max-width: 991px) {
            .header {
                flex-direction: column;
                align-items: flex-start;
                position: relative;
            }

            .nav {
                margin-top: 20px;
                justify-content: center;
                width: 100%;
                display: none;
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }

            .hamburger {
                display: flex;
                position: absolute;
                top: 20px;
                right: 20px;
            }
        }

        @media (max-width: 768px) {
            .hero-title {
                font-size: 30px;
            }

            .cta-button {
                padding: 10px 30px;
                font-size: 14px;
            }

           
            .gallery-images img {
                width: 200px;
                height: 200px;
            }

            .gallery-text {
                font-size: 20px;
            }

            .footer {
                font-size: 20px;
            }
        }

        @media (max-width: 480px) {
            .hero-title {
                font-size: 20px;
            }

            .cta-button {
                padding: 8px 20px;
                font-size: 12px;
            }

           

            .gallery-images img {
                width: 150px;
                height: 150px;
            }

            .gallery-text {
                font-size: 16px;
            }

            .footer {
                font-size: 16px;
            }
        }
    
